# Karim Khalil

##**How effective are distance from home and ratio to median purchase price in detecting credit card fraud in online and offline transactions?**

Nowadays most of the population uses online shopping as their main way of purchasing goods and services, due to that, many credit card frauds have occurred by people putting their personal bank details into unreliable websites. Having a passion for problem-solving, I finds this research topic very intriguing and interesting. This research question aims to investigate whether distance from home and ratio to median purchase price can be used as indicators to detect credit card fraud in online and offline transactions. The research will involve analyzing a dataset of credit card transactions to identify patterns and trends in the data.The results of this research could potentially inform the development of more effective fraud detection techniques and strategies

In [2]:
import pandas as pd
mydata = pd.read_csv("../data/raw/card_transdata.csv")
mydata.head()

/var/folders/qh/nw_ntqk50l59gbqw941yj8cw0000gn/T/ipykernel_90848/2311266049.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  mydata = pd.read_csv("../data/raw/card_transdata.csv")

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
mydata.describe()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
count,861948.000000,861948.000000,861948.000000,861948.000000,861948.000000,861948.000000,861948.000000,861948.000000,0.0,0.0,0.0,0.0,0.0
mean,26.685782,5.024305,1.823366,0.881712,0.350407,0.100721,0.650555,0.087459,NaN,NaN,NaN,NaN,NaN
std,66.062269,25.595735,2.793597,0.322949,0.477098,0.300959,0.476795,0.282506,NaN,NaN,NaN,NaN,NaN
min,0.004874,0.000118,0.004399,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
25%,3.880929,0.296202,0.475330,1.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
50%,9.973634,0.997152,0.998388,1.000000,0.000000,0.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN
75%,25.771207,3.349357,2.097103,1.000000,1.000000,0.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN
max,10632.723670,11851.104560,267.802942,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN

# Using the desc

In [4]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891908 entries, 0 to 891907
Data columns (total 14 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   distance_from_home              861948 non-null  float64
 1   distance_from_last_transaction  861948 non-null  float64
 2   ratio_to_median_purchase_price  861948 non-null  float64
 3   repeat_retailer                 861948 non-null  float64
 4   used_chip                       861948 non-null  float64
 5   used_pin_number                 861948 non-null  float64
 6   online_order                    861948 non-null  float64
 7   fraud                           861948 non-null  float64
 8   Unnamed: 8                      0 non-null       float64
 9   Unnamed: 9                      0 non-null       float64
 10  Unnamed: 10                     0 non-null       float64
 11  Unnamed: 11                     0 non-null       float64
 12  Unnamed: 12                     0 non-null       float64
 13  Unnamed: 13                     1 non-null       object
dtypes: float64(13), object(1)
memory usage: 95.3+ MB

In [6]:
mydata.duplicated().sum()

29959

In [7]:
mydata.corr()

/var/folders/qh/nw_ntqk50l59gbqw941yj8cw0000gn/T/ipykernel_90848/3328463400.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  mydata.corr()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
distance_from_home,1.000000,0.000475,-0.001588,0.141870,-0.000348,-0.001238,-0.001613,0.185989,NaN,NaN,NaN,NaN,NaN
distance_from_last_transaction,0.000475,1.000000,0.001247,-0.001523,0.001191,-0.000746,-0.000155,0.093337,NaN,NaN,NaN,NaN,NaN
ratio_to_median_purchase_price,-0.001588,0.001247,1.000000,0.000760,0.000238,0.000509,0.000089,0.462462,NaN,NaN,NaN,NaN,NaN
repeat_retailer,0.141870,-0.001523,0.000760,1.000000,-0.000777,0.000445,-0.000766,-0.001817,NaN,NaN,NaN,NaN,NaN
used_chip,-0.000348,0.001191,0.000238,-0.000777,1.000000,-0.001899,0.000208,-0.061187,NaN,NaN,NaN,NaN,NaN
used_pin_number,-0.001238,-0.000746,0.000509,0.000445,-0.001899,1.000000,-0.000199,-0.100359,NaN,NaN,NaN,NaN,NaN
online_order,-0.001613,-0.000155,0.000089,-0.000766,0.000208,-0.000199,1.000000,0.192269,NaN,NaN,NaN,NaN,NaN
fraud,0.185989,0.093337,0.462462,-0.001817,-0.061187,-0.100359,0.192269,1.000000,NaN,NaN,NaN,NaN,NaN
Unnamed: 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN