# Ruwaida Rashid

#### How can one establish a threshold of certainty above which a transaction can be classified as fraudulent by exploring distance from the last point of transaction, the ratio to median purchase price and if the transaction site was a repeat retailer?
###### How is fraudulent transaction defined in the dataset?
###### Does a relationship exist between these variables and chip and pin usage for verification purposes?
###### Is there a correlation between the mode of transaction and the likelihood of a fraudulent transaction?
I have an interest in data privacy and breaches, and with the limited statistical and python knowledge I believe this credit card fraud analysis allows me to gain the basic technical knowledge needed to further understand the techniques involved in further complex data analysis. Following the factors associated with a credit card transaction, I would like to understand if a trend exists between the distance from last location of transaction with the same credit card and a fraudulent transaction. Given the complexity of real life scenarios, I am also interested to know if higher median transaction suggests a greater chance of fraudulent transaction going through. In addition to which, if the point of transaction being a repeat retailer suggest a specific spending pattern that can contribute to higher chances of fraudulent transactions going through.

###### Any technical limitations or doubts faced during data exploration (milestone 3) will be marked in fenced quotes to be addressed later

``` example quote block: I don't understand or was unable to figure

In [1]:
import pandas as pd
dataset = pd.read_csv("../data/raw/card_transdata.csv")
dataset.head(n=20)

/var/folders/f0/nh99jdt16ddg2nsr3t4x3s7r0000gn/T/ipykernel_65695/2645359960.py:2: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv("../data/raw/card_transdata.csv")

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5,5.586408,13.261073,0.064768,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
6,3.724019,0.956838,0.278465,1.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
7,4.848247,0.320735,1.273050,1.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
8,0.876632,2.503609,1.516999,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
9,8.839047,2.970512,2.361683,1.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
10,14.263530,0.158758,1.136102,1.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
11,13.592368,0.240540,1.370330,1.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12,765.282559,0.371562,0.551245,1.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
13,2.131956,56.372401,6.358667,1.0,0.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
14,13.955972,0.271522,2.798901,1.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
15,179.665148,0.120920,0.535640,1.0,1.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
16,114.519789,0.707003,0.516990,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
17,3.589649,6.247458,1.846451,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
18,11.085152,34.661351,2.530758,1.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
19,6.194671,1.142014,0.307217,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
#Importing all packages needed for EDA
import seaborn as sns
import numpy as np
import os
import matplotlib.pyplot as plt

In [6]:
#Total number of transactions being analysed in this dataset
no_entries = dataset['distance_from_home'].count()
no_entries

861948

####Research Question: How can one establish a threshold of certainty above which a transaction can be classified as fraudulent by exploring distance from the last point of transaction, the ratio to median purchase price and if the transaction site was a repeat retailer?

In [17]:
#Print only the columns that are being explored with the research question
dataset_subset = dataset.loc[:, ['distance_from_last_transaction','ratio_to_median_purchase_price','repeat_retailer', 'fraud']]
dataset_subset

,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,fraud
0,0.311140,1.945940,1.0,0.0
1,0.175592,1.294219,1.0,0.0
2,0.805153,0.427715,1.0,0.0
3,5.600044,0.362663,1.0,0.0
4,0.566486,2.222767,1.0,0.0
...,...,...,...,...
891903,NaN,NaN,NaN,NaN
891904,NaN,NaN,NaN,NaN
891905,NaN,NaN,NaN,NaN
891906,NaN,NaN,NaN,NaN
891907,8.350759,7.287224,1.0,0.0

#### Identify and filter the dataset.
Assuming all the columns have the equal number of entries, and all entries equal to the total number of transactions being explored in this dataset, calculating the number of rows that are essentially unusable.

In [22]:
#The number of transactions with no value, unusable data.
distlastt_withNaN = dataset['distance_from_last_transaction'].isna().sum()
distlastt_withNaN

29960

In [23]:
#drop any rows with the NaN values, make a new filtered dataset
data_filtered = dataset.dropna(subset=['distance_from_last_transaction'])
data_filtered = pd.DataFrame(data_filtered)
data_filtered

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861943,21.376290,0.611290,2.032091,1.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
861944,3.177250,7.228868,1.700541,1.0,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
861945,2.581198,0.965825,0.735848,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
861946,15.910209,0.387538,2.714292,1.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
891907,12.092690,8.350759,7.287224,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
stats_summary = data_filtered.describe().T
stats_summary

,count,mean,std,min,25%,50%,75%,max
distance_from_home,861948.0,26.685782,66.062269,0.004874,3.880929,9.973634,25.771207,10632.723670
distance_from_last_transaction,861948.0,5.024305,25.595735,0.000118,0.296202,0.997152,3.349357,11851.104560
ratio_to_median_purchase_price,861948.0,1.823366,2.793597,0.004399,0.475330,0.998388,2.097103,267.802942
repeat_retailer,861948.0,0.881712,0.322949,0.000000,1.000000,1.000000,1.000000,1.000000
used_chip,861948.0,0.350407,0.477098,0.000000,0.000000,0.000000,1.000000,1.000000
used_pin_number,861948.0,0.100721,0.300959,0.000000,0.000000,0.000000,0.000000,1.000000
online_order,861948.0,0.650555,0.476795,0.000000,0.000000,1.000000,1.000000,1.000000
fraud,861948.0,0.087459,0.282506,0.000000,0.000000,0.000000,0.000000,1.000000
Unnamed: 8,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 10,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 11,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 12,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
#Drop any rows where all the values are NaN 
dataset_wc = stats_summary.dropna()
dataset_wc

,count,mean,std,min,25%,50%,75%,max
distance_from_home,861948.0,26.685782,66.062269,0.004874,3.880929,9.973634,25.771207,10632.723670
distance_from_last_transaction,861948.0,5.024305,25.595735,0.000118,0.296202,0.997152,3.349357,11851.104560
ratio_to_median_purchase_price,861948.0,1.823366,2.793597,0.004399,0.475330,0.998388,2.097103,267.802942
repeat_retailer,861948.0,0.881712,0.322949,0.000000,1.000000,1.000000,1.000000,1.000000
used_chip,861948.0,0.350407,0.477098,0.000000,0.000000,0.000000,1.000000,1.000000
used_pin_number,861948.0,0.100721,0.300959,0.000000,0.000000,0.000000,0.000000,1.000000
online_order,861948.0,0.650555,0.476795,0.000000,0.000000,1.000000,1.000000,1.000000
fraud,861948.0,0.087459,0.282506,0.000000,0.000000,0.000000,0.000000,1.000000

#### Functions list, gonna be working on these soon
cov()
corr()
skew()
argmin(), argmax()
### Plot list, 
boxplot()
hist()
scatterplot()